//colors
$white: #ffffff;
$black: #000000;
$akebi_purple: #9844b7;
$fiolet: #5F479B;
$noble_black: #1D2029;
$summer_sky: #3bade3;
$blue_oyster_cult: #576fe6;
$lilac_lotion: #ff357f;
$glass: rgba(150, 150, 150, 0.2);
$border: rgba(150, 150, 150, 0.5);
$black_iris: #2D3243;
$noble_black: #1D2029;
$text_fiolet: #8846d3;
$main_text: #FFFFFF;
$secondary_text: #B6B6B6;
$main_gradient: linear-gradient(56.57deg, #2973ff 0%, #8846d3 45.56%, #ff22ac 65.28%);
$fiolet_gradient: radial-gradient(41.76% 41.76% at 50% 50%, #915DFF 0%, rgba(191, 9, 255, 0) 100%);
$fioletFill_gradient: linear-gradient(107.19deg, #5F479B 1.5%, rgba(40, 28, 71, 0.2) 109.67%);
$fioletBlue_gradient: linear-gradient(89.03deg, #2C66B8 0.54%, #8859EC 97.66%);
$green_gradient: linear-gradient(225deg, #72FFB6 0%, #10D194 100%);
$text_gradient: linear-gradient(129.93deg, #ADB6CE 12.75%, rgba(173, 182, 206, 0) 206.18%);
$modals_blue: #30374c;
$dark_blue: #2f2d3d;
$primaryBack: #181B24;
// numerical
$borderR: 15px;
$ellipse: 50%;


// font-family
$base_font: 'Montserrat', sans-serif;