@import url(./partners.scss);
@import url(./socialNetworks.scss);
@import url(./roadmapNew.scss);

.about {
  background: #232733;
  position: relative;
  overflow: hidden;

  // &::before {
  //   position: absolute;
  //   left: 0;
  //   top: 10%;
  //   content: '';
  //   background: url('svg/about/vector_1.svg');
  //   background-repeat: no-repeat;
  //   height: 90%;
  //   width: 100%;
  // }

  &_main {
    position: relative;
    height: 600px;
    padding: 50px;
    background-color: #232733;

    &_slide {
      max-width: max-content;
      margin-top: 50px;
    }

    &_item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      display: inline-block;
      width: 200px;
      height: 300px;
      transition: .5s;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      border-radius: var(--borderR);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

      &_content {
        position: absolute;
        top: 50%;
        left: 100px;
        width: 500px;
        text-align: left;
        padding: 0;
        color: #eee;
        transform: translate(0, -50%);
        display: none;
      }

      &_name {
        font-size: 40px;
        font-weight: 700;
        opacity: 0;
        animation: showContent 1s ease-in-out 1 forwards;
      }

      &_desc {
        opacity: 0;
        margin: 20px 0;
        animation: showContent 1s ease-in-out 0.3s 1 forwards;
      }

      .btn {
        opacity: 0;
        animation: showContent 1s ease-in-out 0.6s 1 forwards;
      }

      &:nth-child(1),
      &:nth-child(2) {
        left: 0;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
      }

      &:nth-child(3) {
        left: 50%;
      }

      &:nth-child(4) {
        left: calc(50% + 220px);
      }

      &:nth-child(5) {
        left: calc(50% + 440px);
      }

      &:nth-child(n+6) {
        left: calc(50% + 660px);
        opacity: 0;
      }

      &:nth-child(2) {
        .about_main_item_content {
          display: block;
          z-index: 10000;
        }
      }

    }

    &_arrows {
      position: absolute;
      bottom: 15px;
      left: 50%;
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: end;
      z-index: 3;
      transform: translateX(-50%);
    }

    &_arrow {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
      transition: transform .3s linear;
      position: relative;

      &:hover {
        transform: scale(1.1);
      }

      &_prev,
      &_next {
        &::before {
          content: "\276E";
          font-size: 2rem;
          color: var(--white);
          line-height: 3rem;
        }
      }

      &_next {
        &::before {
          content: "\276F";
        }
      }
    }
  }

  @keyframes showContent {
    from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
    }

    to {
      opacity: 1;
      transform: translate(0, 0);
      filter: blur(0);
    }

  }


  &__container {
    max-width: 1240px;
    margin: 0px auto;
  }

  &_subtitle {
    font-size: clamp(30px, 5vw, 44px);
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    margin: 25px 0;
  }

  & .goal {

    &__inner {
      padding: 0 10px;
      margin: 0 auto;

      @media (min-width: 768px) {
        width: calc(100% - 60px);
      }

      @media (min-width: 1240px) {
        max-width: 1240px;
        width: 100%;
      }
    }

    &__list {
      position: relative;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 20px;
      margin-bottom: 25px;

      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
      }

      @media (max-width: 464px) {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      position: relative;
      height: 450px;
      background: rgba(255, 255, 255, 0.02);
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-radius: 20px;
      overflow: hidden;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);

      @media (max-width: 992px) {
        height: 235px;
      }

      @media (max-width: 767px) {
        height: 320px;
      }

      @media (max-width: 464px) {
        height: 265px;
      }

      &:hover::before {
        clip-path: circle(300px at 80% -40%);

        @media(max-width: 992px) {
          clip-path: circle(170px at 94% -35%);
        }

        @media(max-width: 767px) {
          clip-path: circle(300px at 80% -65%);
        }

        @media(max-width: 464px) {
          clip-path: circle(300px at 80% -70%);
        }
      }

      &:hover .goal__img {
        top: 0%;
        transform: translateY(0%);
      }

      &:hover .goal__content {
        height: 210px;

        @media(max-width: 464px) {
          height: auto;
        }
      }

      &:hover .goal__content .goal__content_description {
        visibility: visible;
        opacity: 1;
        transition-delay: 0.5s;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #A87FFF;
        -webkit-clip-path: circle(300px at 80% -20%);
        clip-path: circle(300px at 80% -20%);
        transition: 0.5s ease-in-out;
        opacity: .5;

        @media (max-width: 992px) {
          -webkit-clip-path: circle(170px at 94% -35%);
          clip-path: circle(170px at 94% -35%);
        }

        @media (max-width: 767px) {
          -webkit-clip-path: circle(300px at 80% -65%);
          clip-path: circle(300px at 80% -65%);
        }

        @media (max-width: 464px) {
          -webkit-clip-path: circle(300px at 80% -70%);
          clip-path: circle(300px at 80% -70%);
        }
      }

      &::after {
        position: absolute;
        bottom: 10%;
        left: -15%;
        font-size: 7em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 34, 172, 0.05);
      }

      &.crypto::after {
        content: 'Crypto';
      }

      &.unite::after {
        content: 'Unite';
        left: -6%;
      }

      &.access::after {
        content: 'Access';
        left: -15%;
      }

      &.meta::after {
        content: 'Meta';
        left: -3%;
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
      width: 100%;
      height: 220px;
      transition: 0.5s;

      @media (max-width: 992px) {
        top: 0;
        transform: translateY(0);
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;

        @media (max-width: 992px) {
          width: 45px;
          top: 5%;
          left: auto;
          right: 5%;
          transform: translate(-5%, -5%);
        }

        @media (max-width: 767px) {
          width: 70px;
          top: 10%;
          left: auto;
          right: 5%;
          transform: translate(-5%, -10%);
        }
      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 10;

      @media (max-width: 992px) {
        height: auto;
        bottom: auto;
        top: 33%;
      }

      @media (max-width: 767px) {
        top: 35%;
      }

      @media (max-width: 464px) {
        top: 45%;
      }

      h4 {
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin: 0;
        font-size: 20px;
        padding: 0 10px;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      &_description {
        padding: 10px 20px;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        font-size: 14px;
        line-height: 18px;

        @media (max-width: 992px) {
          visibility: visible;
          opacity: 1;
        }

        @media (max-width: 767px) {
          font-size: 12px;
        }

        @media (max-width: 464px) {
          font-size: 14px;
        }
      }
    }
  }

}

.accordeon {
  margin: 0 auto;
  max-width: 1000px;

  &_item {
    width: 100%;
    margin: 15px;
    padding: 10px;
    background: #313541;
    border: 1px solid #474c5a;
    border-radius: var(--borderR);
    box-shadow:
      6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(0, 0, 0, 0.15);

    & label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      font-size: clamp(16px, 2vw, 20px);
      line-height: 1.5;
      font-weight: 600;

      &::before {
        content: "+";
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
      }
    }

    & input[type="radio"] {
      display: none;
    }

    & input[type="radio"]:checked+label+.accordeon_content {
      max-height: 500px;
      padding: 10px 10px 20px;
      opacity: 1;
    }

    & input[type="radio"]:checked+label::before {
      content: "-";

    }
  }

  &_content {
    line-height: 1.5;
    max-height: 0;
    transition: max-height .3s, padding .5s, opacity .35s;
    overflow: hidden;
    opacity: 0;
  }
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  &_item {

    &_title,
    &_post {
      transform: translateZ(2rem);
      background: rgb(49 53 65 / 50%);
      padding: 0.5rem;
      width: 98%;

      h2 {
        font-size: 1.2rem;
      }
    }

    &_post {
      background: #ffffff80;

      p {
        font-size: 0.9rem;
        color: #000000;
        font-weight: 600;
      }
    }

    &_content {
      position: relative;
      padding: 10rem 5rem;
      transform-style: preserve-3d;
      transition: transform 1.5s;
    }

    &_front,
    &_back {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      // padding: 2rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
    }

    &_front {
      // background-color: rgba(141, 134, 126, 0.2);
      background-color: #171b2742;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        inset: 1rem;
        border: 3px solid var(--akebi_purple);
        transform: translateZ(2rem);
      }
    }

    &_back {
      transform: rotateY(180deg);
      gap: 0.5rem;
      align-items: center;
    }

    &:hover &_content {
      transform: rotateY(180deg);
    }

    .btn_timing {
      padding: 10px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      transform: translateZ(2.4rem);
      width: fit-content;

      img {
        width: 22px;
      }
    }
  }

}

.eventForum {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);

  &_video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: transparent;

    &_frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.cryptoBreakfast {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 25px;

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_text {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 1.5;
  }

  .btn_timing {
    max-width: clamp(200px, 2vw, 300px);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

}

.gallery {
  position: relative;
  overflow: hidden;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;

  &_line {
    overflow: hidden;
  }

  &_draggable {
    cursor: grabbing;
  }

  &_slide {
    min-height: 1px;
    width: 100%;
    float: left;
    transform: translateZ(0);
  }

  &_nav {
    padding: 1rem 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &_dots {
    display: flex;
    justify-content: center;
  }

  &_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    margin: 0.4rem;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    outline: none;
    padding: 0;

    &_active {
      background: red;
    }

    &:hover {
      background: red;
    }
  }

  .slide {
    height: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
      pointer-events: none;
      border-radius: var(--borderR);
    }

  }

  .card {
    height: 25rem;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &_list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 15px;

    li {
      flex: 1 1 0;
      text-align: center;
      margin: 0.75rem 0;
    }
  }

  &_link {
    color: #000;
    position: relative;
    display: inline-block;
    padding: 0.125em;
    border-radius: 50%;
    text-decoration: none;
    background-color: #3B2D4A;
    outline: 0 solid;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, .3);
    transition: all .3s ease-out;
    background-repeat: no-repeat;
    background-position: center center;

    span {
      display: none;
    }

    &::before {
      content: attr(aria-label);
      position: absolute;
      left: 50%;
      bottom: -100%;
      font-size: .8rem;
      white-space: nowrap;
      color: white;
      background-color: #3B2D4A;
      padding: 0.5em 0.7em 0.4em;
      box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, .4);
      opacity: 0;
      transform: translate(-50%, -180%) scale(0.7);
      border-radius: 2em;
      transition: .3s;
    }

    &:hover,
    &:focus {
      background-color: currentColor;
      outline: 0 solid;
      transform: scale(1.12);
      box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, .4);

      &::before {
        opacity: 1;
        transform: translate(-50%, -70%) scale(1);
      }
    }

    &_instagram {
      color: #FF007A;
    }

    &_youtube {
      color: #c00;
    }

    &_twitter {
      color: #37A7DF;
    }

    &_linkedin {
      color: #00388d;
    }

    &_discord {
      color: #5865F2;
    }

    &_github {
      color: #4A2779;
    }

    &_vkontakte {
      color: #4C75A3;
    }

  }

  &_text {
    max-width: 900px;

    p {
      font-size: clamp(14px, 2vw, 16px);
      font-style: italic;
      font-weight: 500;
      padding-bottom: 25px;
      line-height: 1.5;
      text-align: justify;
    }
  }
}

@media(max-width: 767px) {
  .about {
    .goal {
      &__title {
        margin-bottom: 25px;
      }
    }

    .team {
      &__title {
        margin-top: 0;
      }

      &__item {
        margin-bottom: 0;
      }
    }
  }

  .roadmap {
    padding: 0 15px;
  }
}