.exchangerates {


  &_table {
    width: 100%;
    // background: #313541;
    // box-shadow: 15px 15px 25px #212531;


    &_head {
      font-size: 18px;
      border-top-left-radius: var(--borderR);
      border-top-right-radius: var(--borderR);

      .exchangerates_table_row {
        background: var(--back_opacity);
        border-top-left-radius: var(--borderR);
        border-top-right-radius: var(--borderR);
      }
    }

    &_row {
      display: grid;
      grid-template-columns: 40px 40px 1fr 1fr 1fr;
      height: 55px;

      th,
      td {
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }



    &_body {
      border: 1px solid var(--border) !important;
      border-top: none;
      font-weight: 600;

      .exchangerates_table_name {
        text-transform: uppercase;
      }

      .exchangerates_table_row {
        height: 70px;
      }

      .exchangerates_table_row:not(:last-child) {
        border-bottom: 1px solid var(--border);
      }


    }

    &_index {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_name {
      justify-content: flex-start !important;
      font-weight: 700;
    }

    &_favorites {
      img {
        height: 20px;
        width: 20px;
      }
    }

    // &_row {
    //   position: relative;

    //   &::after {
    //     position: absolute;
    //     content: '';
    //     left: 10px;
    //     right: 10px;
    //     bottom: 0;
    //     height: 1px;
    //     background: #474E61;
    //   }
    // }

    // th {
    //   padding: 25px 0;
    //   font-style: normal;
    //   font-weight: 500;
    //   font-size: 13px;
    //   line-height: 16px;
    //   color: #8991A8;
    // }

    // tbody {

    //   tr {
    //     &:last-child::after {
    //       background: transparent;
    //     }
    //   }

    // }
  }

  // &_cellwrap {
  //   display: flex;
  //   padding: 15px 0;

  //   &>* {
  //     margin: auto;
  //   }
  // }

  // &_currency {
  //   display: flex;
  //   align-items: center;
  //   gap: 8px;
  //   margin-left: 0;

  //   img {
  //     width: 32px;
  //     height: 32px;
  //     border-radius: 50%;
  //   }

  //   span {
  //     text-transform: uppercase;
  //   }
  // }


  // &_percent {
  //   font-weight: 600;

  //   &--rise {
  //     color: #2DCA73;
  //   }

  //   &--recession {
  //     color: #E84142;
  //   }
  // }
}