@import 'utils/variables.scss';
@import 'utils/grid.scss';
@import 'utils/flex.scss';

.ico {
  padding-bottom: 80px;

  section {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main_gradient);
    height: 400px;
    width: 400px;
    filter: blur(250px);
  }

  &_percent {
    color: var(--white);
    font-size: 24px;
  }

  &_tabs {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    border-radius: var(--borderR);
    margin: 15px 0;
    position: relative;

    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 15px;
      position: relative;
      z-index: 2;
      border-radius: var(--borderR);
      cursor: pointer;
      transition: .5s;
      height: 60px;
      width: 100%;
      transition: all ease-in-out 0.35s;

      span {
        font-size: 18px;
        transition: all ease-in-out 0.35s;
      }

      &_active {
        span {
          transition: all ease-in-out 0.35s;
          font-weight: 700;
        }
      }

      &:hover {
        span {
          font-weight: 700;
          transition: all ease-in-out 0.35s;
        }
      }

    }

    &_slider {
      position: absolute;
      height: 60px;
      z-index: 1;
      box-shadow: 0 0 10px 1px rgba(221, 221, 221, 0.5);
      border-radius: var(--borderR);
      transition: all ease-in-out 0.35s;
      left: 0;
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--borderR);

    &_item {
      position: relative;
      display: grid;
      grid-template-columns: 20% 80%;
      background: rgba(255, 255, 255, 0.09);
      box-shadow: 0px 5px 44px 0px rgba(29, 33, 45, 0.8);
      border-radius: var(--borderR);
      padding: var(--borderR);
      gap: var(--borderR);
      overflow: hidden;
      transition: 0.5s;
      border: 1px solid transparent;
      cursor: pointer;
      grid-template-areas:
        'img info'
        'date date';

      &_image {
        grid-area: img;

        img {
          width: 100%;
          border-radius: var(--borderR);
        }
      }

      &_info {
        grid-area: info;

        h5 {
          font-size: 22px;
          font-weight: 700;
          margin: 0 0 15px 0;
        }

        p {
          font-size: 18px;
          line-height: 24px;
          margin: 0;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-right: 15px;
        }
      }

      &_finance {
        font-weight: 700;
        color: #CBD3EB;
      }

      &_date {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        grid-area: date;
        margin-right: 15px;
      }

      &:hover {
        background: transparent;
        border: 1px solid var(--border);
        transform: scale(0.98);
      }
    }
  }

  &_tba {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;

    img {
      width: 15px;
      margin-right: 5px;
    }
  }

}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// ico inner

.icoItem {

  &_header {
    display: flex;
    gap: 25px;
    padding: 25px 0;

    &_icon {
      height: 80px;
      width: 80px;
      border-radius: var(--borderR);
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    &_desc {
      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &_info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    &_cover {
      img {
        width: 100%;
      }
    }

    &_desc {
      position: relative;

      &_title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 15px;

        span {
          border-bottom: 1px solid var(--white);
        }
      }

      &_item:first-child {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;
      }
    }
  }

  &_category {
    background: var(--white);
    border-radius: var(--borderR);
    padding: 10px;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;

    span {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &_gallery {
    &_wrap {
      position: relative;
    }
  }

  &_btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: var(--ellipse);
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0px 5px 44px 0px rgba(29, 33, 45, 0.8);

    img {
      height: 25px;
    }

    &_prev {
      left: -50px;
    }

    &_next {
      right: -50px;
    }

    &:hover {
      background: transparent;
      border: 1px solid var(--border);
      transform: translateY(-50%) scale(1.1);
    }
  }

  &_carousel {
    display: flex;
    gap: 15px;
    overflow: hidden;

    &_item {
      height: 350px;
      // width: 100%;
      width: 350px;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--borderR);
      }
    }
  }

  &_tallage {
    &_wrap {
      width: 550px;
      height: 250px;
      background: rgba(221, 221, 221, 0.25);
      margin: 0 auto;
      border-radius: var(--borderR);
      border: 1px solid var(--border);
      padding: 25px;
      transition: box-shadow 0.1s, transform 0.1s;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 15px;
    }

    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &_percent {
        font-size: 64px;
        line-height: 76px;
        font-weight: 700;
        position: relative;

        &::before {
          content: '%';
          position: absolute;
          right: -65px;

        }
      }
    }

    &_item:first-child {
      flex-direction: column;
      gap: 15;
    }



    &_text {
      font-size: 54px;
      line-height: 68px;
      font-weight: 700;
    }
  }

}

.token_list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  li {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media(max-width: 1050px) {
  .ico {
    &_list {
      &_item {
        &_info {
          p {
            font-size: 16px;
          }
        }
      }
    }

    &_percent {
      color: var(--white);
      font-size: 22px;
    }
  }
}

@media(max-width: 992px) {
  .ico {
    &_list {
      grid-template-columns: 1fr;

      &_item {
        grid-template-columns: 13% 87%;
      }
    }
  }
}

@media(max-width: 767px) {
  .ico {
    &_tabs {
      &_item {
        span {
          font-size: 16px;
        }
      }

      &_slider {
        box-shadow: 0 0 5px 1px rgba(221, 221, 221, 0.5);
      }
    }

    &_list {
      &_item {
        grid-template-columns: 17% 83%;
      }
    }
  }
}

@media(max-width: 464px) {
  .ico {

    &_percent {
      font-size: 20px;
    }

    &_list {
      &_item {
        &_info {
          h5 {
            font-size: 18px;
            margin: 0 0 10px 0;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}