.modal-question {
  display: flex;
  flex-direction: column;

  &__lang {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: var(--placeholder);
  }

  &__title {
    padding: 20px;
    font-size: 15px;
    color: var(--white);
    background: var(--back_field);
    border: 1px solid #44495c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--placeholder);
    }
  }

  &__description {
    min-height: 90px;
    padding: 10px 20px;
    font-size: 14px;
    background: var(--back_field);
    border: 1px solid #44495c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    resize: none;
    color: var(--white);

    &:focus {
      outline: none;
    }
  }

  &__footer {
    padding: 20px;
  }
}