.news {
  padding-bottom: 80px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @media (max-width: 875px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      grid-gap: 7px;
    }

    &::before {
      content: "";
      position: fixed;
      right: -10%;
      top: -10%;
      width: 580px;
      height: 580px;
      background: radial-gradient(41.76% 41.76% at 50% 50%, #915DFF 0%, rgba(191, 9, 255, 0) 100%);
      filter: blur(225px);
      z-index: -1;
    }
  }

  &__item {
    display: grid;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0px 5px 44px 0px rgba(29, 33, 45, 0.8);
    border-radius: var(--borderR);
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid transparent;
    cursor: pointer;

    @media (max-width: 750px) {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 72px auto;
      gap: 10px;
      padding: 15px;
      height: 122px;
    }

    &:hover {
      background: transparent;
      border: 1px solid rgba(150, 150, 150, 0.5);
      transform: scale(0.98);
    }

    &_image {
      border-radius: var(--borderR);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;

        @media (max-width: 750px) {
          width: 72px;
          height: 72px;
          margin-bottom: 0;
          margin-right: 12px;
          border-radius: 5px;
        }
      }
    }

    &_title {
      margin-bottom: 1rem;
      padding-top: 10px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 18px;
      font-weight: 700;
      align-self: flex-start;

      @media (max-width: 875px) {
        font-size: 16px;
      }

      @media (max-width: 750px) {
        height: auto;
        padding-top: 0;
        font-size: 14px;
        -webkit-line-clamp: 4;
      }
    }

    &_description {
      margin-bottom: 1rem;
      font-weight: 500;
      line-height: 24px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      align-self: flex-end;

      @media (max-width: 875px) {
        font-size: 14px;
      }

      @media (max-width: 750px) {
        display: none;
      }
    }

    &_statistic {
      display: flex;
      align-self: flex-end;
      justify-content: space-between;
      color: #838BA3;
      font-size: 13px;

      @media (max-width: 750px) {
        grid-column: 1 / span 2;
      }

      img {
        filter: invert(60%) sepia(11%) saturate(674%) hue-rotate(187deg) brightness(91%) contrast(81%);
        height: 10px;
        margin-right: 10px;
      }
    }
  }

  &-show {
    max-width: 1240px;
    margin: 0 auto;

    &::after {
      content: "";
      position: fixed;
      right: 0;
      top: 20%;
      width: 500px;
      height: 500px;
      background: linear-gradient(315deg, #6e72fc 0%, #ad1deb 65%, #a5a4cb 100%, #8989bb 100%);
      background-size: 1000%;
      animation: background 20s linear alternate infinite;
      filter: blur(355px);
      opacity: 0.7;
      z-index: -1;
    }

    h1 {
      margin-bottom: 8px;
      padding: 0 30px;
      font-weight: 500;

      @media (max-width: 768px) {
        padding: 0 15px;
      }
    }

    &__container {
      padding: 0 30px;
      padding-top: 20px;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;

      @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        margin-bottom: 0;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 550px;
      overflow: hidden;
      border-radius: 10px;

      @media (min-width: 768px) {
        float: left;
        margin-right: 20px;
        width: 50%;
        max-height: -moz-max-content;
        max-height: max-content;
      }

      img {
        min-width: 100%;
        object-fit: contain;
      }
    }

    &__preview {
      margin: 30px 0;
      font-size: 16px;

      @media (min-width: 768px) {
        margin-top: 0;
        font-size: 18px;
      }
    }

    &__description {
      margin-bottom: 20px;
      font-size: 16px;

      @media (min-width: 768px) {
        margin-top: 0;
        font-size: 18px;
      }
    }

    &__statistic {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 30px);

      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-style: italic;
        font-weight: 500;
        font-size: 12px;
        line-height: 52px;
        color: #909CBF;
        margin-bottom: 15px;
        white-space: nowrap;

        img {
          flex-basis: 26px;
          filter: invert(60%) sepia(11%) saturate(674%) hue-rotate(187deg) brightness(91%) contrast(81%);
          height: 15px !important;
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }

    &__comments {
      max-width: 882px;
      margin: 0 auto;
      padding-top: 70px;

      h2 {
        padding-bottom: 25px;
        font-size: calc(1.1rem + 1.5vw);
        text-align: center;
      }
    }

    & .user-comment {

    &__list {
      position: relative;
      width: 100%;
      border-radius: 15px;
      background: #2B3040;
      border: 1px solid #353C50;
      padding: 25px 0px;
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 0;
      padding-top: 2px !important;
    }

    &__item {
      position: relative;
      padding: 0 10px;

      &:last-child {
        padding-bottom: 10px;
      }
    }

    &__avatar {
      position: relative;
      top: 10px;
      left: -4px;
      display: block;
      text-decoration: none;

      & .avatar {
        display: flex;

        &__icon {
          position: relative;
          // min-width: 47px;
          z-index: 1;
          width: 36px;
          height: 42px;
          margin-left: 10px;
        }

        &__photo {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          height: 78%;
          width: 78%;
          border-radius: 50%;
          transform: translateX(-50%) translateY(-50%);
          -o-object-fit: cover;
          object-fit: cover;
        }

        &__frame {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          width: auto !important;
          height: 100%;
        }

        &__team {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 2;
          background: #ffffff;
          border-radius: 50%;
          padding: 3px;
          width: 17px;
          height: 17px;
        }

        &__level {
          position: absolute;
          right: 0px;
          bottom: 0;
          z-index: 2;
          height: 18px;
          top: auto !important;

          img {
            height: 100%;
          }

          span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 10px;
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 0.6px;
          }
        }

        &__name {
          position: absolute;
          top: 20px;
          left: 94px;
          display: block;
          margin-bottom: 8px;
          line-height: 1.5rem;

          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #ffffff;
            display: inline;
          }
        }

        &__settings {
          display: flex;
          position: absolute;
          right: 15px;
          top: 15px;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
        }
      }

      &_info {
        position: absolute;
        top: 10px;
        left: 60px;
        display: block;
        width: 130px;
      }

      &_name {
        display: inline;
        font-weight: 600;
        font-size: 10px;
        line-height: 20px;
        color: #ffffff;
      }

      &_time {
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        color: #B0B7CD;
        display: inline-block;
        position: relative;
        top: -7px;
      }
    }

    &__body {
      width: 100%;
      margin-bottom: 2px;
      padding-top: 14px;

      span {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0 24px;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: #ffffff;
        word-break: break-word;
        overflow: hidden;
      }
    }

    &__statistic {
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      @media (max-width: 390px) {
        position: static;
        padding-bottom: 6px;
      }

      & .comment-statistic {

        &__rating {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 64px;

          span {
            font-size: 15px;
            min-width: 18px;
            text-align: center;
            margin-left: 2px;
            position: relative;
            font-weight: 700;
            background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 1px;
          }

          img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }

    &__answer {
      display: inline-block;
      margin: 0;
      margin-left: 5px;
      font-size: 12px;
      font-weight: 600;
      background: linear-gradient(56.57deg, #2973ff 0, #8846d3 51.56%, #ff22ac 105.28%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      cursor: pointer;
    }

    &__settings {
      display: flex;
      align-items: center;
      height: 22px;
      width: 30px;
      cursor: pointer;
      margin-left: 10px;
    }

    &__form {
      display: none;
      margin-top: 10px;
    }
    }
  }
}

@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}