.personalAffiliate {
  &_board {
    background: #313643;
    box-shadow: 0px 5px 44px 0px rgba(29, 33, 45, 0.8);
    border-radius: var(--borderR);
    padding: 25px;
  }

  &_program {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    &_btns {
      display: flex;
      gap: 25px;

      &_item {
        border-radius: 5px;
        background-color: var(--btn_gradient);
      }
    }
  }
}