.developments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    transform-style: preserve-3d;
    perspective: 800px;
    max-width: 1100px;
    margin: 0 auto;

    &_item {
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
        padding: clamp(10px, 2vw, 20px) clamp(10px, 2vw, 20px) 0 clamp(10px, 2vw, 20px);
        transition: 0.4s ease-in-out;
        position: relative;
        padding-bottom: 65px;

        &::before {
            position: absolute;
            content: "";
            width: 75%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.2);
        }



        &_cover {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            filter: blur(2px);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &_1 {
            background: var(--gradientOrange);
            transition: .6s ease-in-out;
            transform: rotateY(-65deg);
        }

        &_2 {
            background: var(--gradientBlue);
            transition: .8s ease-in-out;
            transform: rotateY(-85deg);
        }

        &_3 {
            background: var(--gradientGreen);
            transition: 1s ease-in-out;
            transform: rotateY(-100deg);
        }

        &_title,
        &_desc {
            margin-bottom: clamp(5px, 2vw, 10px);
            line-height: 1.5;
        }

        &_title {
            font-size: clamp(16px, 5vw, 22px);
            letter-spacing: 1px;
            text-shadow: 0px 0px 0 rgb(235, 235, 235), -1px 0px 0 rgb(214, 214, 214), -2px 0px 0 rgb(194, 194, 194), -3px 0px 2px rgba(0, 0, 0, 0.35), -3px 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, .2);
            transform: translateX(-25px);
            transition: .8s ease-in-out;
        }

        &_desc {
            font-size: clamp(14px, 2vw, 16px);
            font-weight: 500;
            transition: .8s ease-in-out;
            transform: translateX(-25px);
        }

        &_rotate {
            transform: rotateY(0);

            .developments_item_title,
            .developments_item_desc {
                transform: translateX(0);
            }
        }

        &_links {
            display: flex;
            gap: 15px;
            position: absolute;
            // bottom: clamp(10px, 2vw, 20px);
            bottom: 15px;
        }

        &_btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            gap: 10px;
            border: 1px solid var(--white);
        }

        &_icon {
            width: 25px;
        }
    }

}



// .socialNetwork_main{
//     .title{
//     text-align: center;
//     padding: 25px 0 25px 0;
//     font-weight: 700;
//     font-size: 26px;

//     }

//     .socialNetwork-list{
//         display: grid;
//         grid-template-columns: repeat(4,1fr);
//         gap: 10px;


//         &_item{
//             display: flex;
//             flex-direction: column;
//             width: 100%;
//             box-shadow: 0px 5px 44px 0px rgba(29, 33, 45, 0.8);
//             border-radius: var(--borderR);
//             background: rgba(255, 255, 255, 0.09);
//             padding: var(--borderR);

//             overflow: hidden;
//             transition: 0.5s;
//             border: 1px solid transparent;



//             .img{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 img{
//                     width: 100px;
//                     height: 200px;
//                 }
//             }

//             .content{

//                 line-height: 28px;

//                 img{
//                 width: 100px;
//                 height: 200px;
//                 }

//                 .ruLink{
//                     display: flex; 
//                     align-items: center;
//                 }
//                 .spanRegionRU{
//                     font-weight: 700;
//                     font-size: 16px;
//                     background: var(--fioletBlue_gradient);
//                     -webkit-background-clip: text;
//                     -webkit-text-fill-color: transparent;
//                     margin-right: 15px;
//                 }    

//                 .engLink{
//                     display: flex;

//                     align-items: center;
//                 }
//                 .spanRegionENG{
//                     font-weight: 700;
//                     font-size: 16px;
//                     background: var(--fioletBlue_gradient);
//                     -webkit-background-clip: text;
//                     -webkit-text-fill-color: transparent;
//                     margin-right: 15px;

//                 }
//             }




//         }








//         &_item:hover{
//             background:transparent;
//             border-color: rgba(255, 255, 255, 0.09);
//             transform: scale(0.95);
//         }
//     }

// }

// .apps-main{
//     .title{
//     text-align: center;
//     padding: 25px 0 25px 0;
//     font-weight: 700;
//     font-size: 26px;

//     }

//     .apps-main_list{
//         display: grid;
//         grid-template-columns: repeat(4,1fr);
//         gap: 10px;


//         &_item{
//             display: flex;
//             flex-direction: column;
//             width: 100%;
//             border-radius: var(--borderR);
//             background: rgba(255, 255, 255, 0.09);
//             padding: var(--borderR);

//             overflow: hidden;
//             transition: 0.5s;
//             border: 1px solid transparent;

//             .content{
//                 line-height: 28px;

//                 a{
//                     display: flex;
//                     flex-wrap: wrap;
//                     cursor: pointer;
//                     align-items: center;
//                     img{
//                         width: 15px;
//                         margin-right: 15px;

//                     }

//                 }

//             }

//             .img{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 flex-direction: column;
//                 gap: 15px;
//                 p{
//                     font-weight: 700;
//                     font-size: 16px;
//                     background: var(--fioletBlue_gradient);
//                     -webkit-background-clip: text;
//                     -webkit-text-fill-color: transparent;
//                 }
//                 img{
//                     height: 200px;
//                 }
//             }

//         }

//         &_item:hover{
//             background:transparent;
//             border-color: rgba(255, 255, 255, 0.09);
//             transform: scale(0.95);
//         }



//     }
// }    
// @media(max-width: 1090px) {
//     .socialNetwork_main{
//         .title{
//             font-size: 24px;
//         }
//         .socialNetwork-list{
//             grid-template-columns:repeat(3,1fr);
//         }
//     }
//     .apps-main{
//         .title{
//             font-size: 24px;
//         }
//         .apps-main_list{
//             grid-template-columns:repeat(3,1fr)
//         }
//     }
// }

// @media(max-width: 992px) {

//     .socialNetwork_main{
//         .title{
//             font-size: 23px;
//         }

//     }
// }

// @media(max-width: 866px) {
//     .socialNetwork_main{
//         .title{
//             font-size: 20px;
//         }
//         .socialNetwork-list{
//             grid-template-columns:repeat(2,1fr);
//         }
//     }
//     .apps-main{
//         .title{
//             font-size: 20px;
//         }
//         .apps-main_list{
//             grid-template-columns:repeat(2,1fr)
//         }
//     }
// }

// @media(max-width: 590px) {
//     .socialNetwork_main{
//         .title{
//             font-size: 16px;
//         }
//         .socialNetwork-list{
//             grid-template-columns:repeat(1,1fr);
//         }
//     }
//     .apps-main{
//         .title{
//             font-size: 16px;
//         }
//         .apps-main_list{
//             grid-template-columns:repeat(1,1fr)
//         }
//     }
// }
// @media(max-width: 350px){
//     .socialNetwork_main{
//         .title{
//             font-size: 14px;
//         }
//     }
//     .socialNetwork_main{
//         .title{
//             font-size: 14px;
//         }
//     }
// }