.startaps {
  padding-bottom: 80px;

  &::before {
    content: '';
    position: fixed;
    left: -10%;
    top: -8%;
    background: url('svg/about/vector_1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &_inner {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px;

    &::before {
      content: "";
      position: fixed;
      right: -10%;
      top: -10%;
      width: 580px;
      height: 580px;
      background: var(--fiolet_gradient);
      filter: blur(225px);
      z-index: -1;
    }
  }

  &_item {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0px 5px 44px 0px rgba(29, 33, 45, 0.80);
    border-radius: var(--borderR);
    padding: 15px;
    gap: 25px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid transparent;
    cursor: pointer;

    &_image {
      img {
        width: 100%;
        border-radius: var(--borderR);
      }
    }

    &_info {
      h5 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:hover {
      background: transparent;
      border: 1px solid var(--border);
      transform: scale(0.98);
    }
  }
}

.category {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background: var(--fioletBlue_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// startap inner page
.startap {
  &_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font: 25px;
  }

  &_btns {
    display: flex;
    gap: 15px;
  }
}

@media(max-width: 992px) {
  .startaps {
    &_item {
      grid-template-columns: 15% 80%;
      gap: 15px;

      &_info {
        h5 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .startaps {
    &_inner {
      grid-template-columns: 1fr;
      grid-template-rows: 130px;
    }

    &_item {
      &_info {
        h5 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}