.university {

  .wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    &_title {
      display: flex;

      img {
        width: 30px;
        margin-right: 10px;
      }

      p {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
      }
    }

    &_courses {
      padding: 8px 20px;
    }
  }

  &__slogan {
    display: flex;
    margin: 30px auto;
    width: 67%;

    h3 {
      text-align: center;
    }
  }

  &__category {
    display: grid;
    grid: repeat(3, minmax(400px, 1fr))/repeat(3, minmax(180px, 1fr));
    gap: 20px;

    @media (max-width: 1260px) {
      grid: repeat(3, minmax(340px, 1fr))/repeat(3, minmax(180px, 1fr));
    }
  }

  & .university-category {


    &__item {
      position: relative;
      padding: 15px;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #ffffff;

      &:hover img {
        opacity: 0.6;
      }

      .subtitle {
        display: none;
      }

      .description {
        position: relative;
        z-index: 2;
        margin: 0;
        display: none;

        @media (max-width: 1260px) {
          font-size: 14px;
        }
      }

      &:hover {

        .subtitle {
          display: block;
        }

        .description {
          display: block;
        }
      }

      &_title {
        position: relative;
        z-index: 2;
        font-size: 28px;
        font-weight: 600;

        p {
          width: 80%;
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
          font-weight: 400;

          @media (max-width: 1260px) {
            font-size: 14px;
          }
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  &__section {
    position: relative;
    width: 100%;
    height: 440px;
    margin-top: 20px;
    border-radius: 16px;
    overflow: hidden;
  }

  &-test {

    &__title {
      display: flex;
      position: relative;
      z-index: 2;
      width: 70%;
      align-items: center;
      margin: 0 auto;
      margin-top: 140px;
      padding: 4px 6px;
      font-size: 28px;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 18px;
    }

    &__background {
      position: absolute;
      top: -140px;
      left: 0;
      width: 100%;
      opacity: 0.5;
    }

    &__button {
      position: relative;
      z-index: 2;
      padding-top: 30px;
      cursor: pointer;
      text-align: center;

      span {
        padding: 8px 20px;
        border: 1px solid #ffffff;
        border-radius: 8px;
      }
    }

    &__soon {
      position: absolute;
      top: 0;
      right: 0;
      width: 140px;
      height: auto;
      z-index: 2;
    }
  }

  &-reviews {

    &__title {
      position: relative;
      z-index: 2;
      margin-top: 40px;
      font-size: 40px;
      font-weight: 500;
      text-align: center;
    }

    &__soon {
      position: relative;
      z-index: 2;
      margin-top: 80px;
      text-align: center;

      span {
        padding: 4px 16px;
        font-size: 36px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 18px;
      }
    }

    &__background {
      position: absolute;
      top: -140px;
      left: 0;
      width: 100%;
      opacity: 0.5;
    }
  }
}

.courses {

  &__filter {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__select {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;

    &_default {
      position: relative;
      width: 250px;
      padding: 12px 0 12px 12px;
      border: 1px solid #474c5a;
      border-radius: 8px;
      font-size: 20px;
      background: #2B3040;
      cursor: pointer;
    }

    span {
      font-size: 14px;
      font-weight: 600;
    }

    img {
      position: absolute;
      z-index: 1;
      right: 20px;
      width: 18px;
      bottom: 18px;
      transition: all 0.3s;
    }
  }

  &__search {

    input {
      height: 100%;
      width: 300px;
      padding: 0;
      padding-left: 10px;
      font-size: 16px;
      background: #2B3040;
      border: 1px solid #474c5a;
      border-radius: 8px;
      color: #ffffff;

      &::placeholder {
        color: var(--secondary_text);
      }
    }
  }

  &__category {
    display: none;

    &.visible {
      display: block;
    }

    &_list {
      position: absolute;
      width: 100%;
      background: #313643;
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-radius: 10px;
      border: 1.5px solid #474C5A;
      z-index: 4;
    }

    &_item {
      padding: 13px 20px;
      border-top: 1px solid #474C5A;
      cursor: pointer;

      &:first-child {
        border-top: 0;
      }
    }
  }

  &__cost {
    display: none;

    &.visible {
      display: block;
    }

    &_list {
      position: absolute;
      width: 100%;
      background: #313643;
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-radius: 10px;
      border: 1.5px solid #474C5A;
      z-index: 4;
    }

    &_item {
      padding: 13px 20px;
      border-top: 1px solid #474C5A;
      cursor: pointer;

      &:first-child {
        border-top: 0;
      }
    }
  }

  &__cards {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    position: relative;

    .card {
      border-radius: 3px;
      border: 1px solid #63697A;
      background: #363B4B;
      list-style-type: none;
  
      &__container {
        &_row {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
  
        &_indent_course {
          padding-top: 40px;
  
          @media(max-width: 522px) {
              padding-top: 24px;
          }
        }
      }
  
      &_courses {
        border: 4px dashed #593F62;
        border-radius: 20px;
        background: #2f3440;
  
        @media(max-width: 522px) {
          border-width: 3px;
        }
      }
  
      &__link {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 30px;
        color: #ffffff;
  
        @media(max-width: 522px) {
          padding: 14px;
        }
  
        &_background {
          // background-image: url("../images/background/course-background.png");
          border-radius: 20px;
        }
      }
  
      &__title {
        &_courses {
          padding-right: 60px;
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;

          @media(max-width: 522px) {
            font-size: 18px;
            line-height: 22px;
          }

          @media(max-width: 375px) {
            font-size: 16px;
          }
        }
      }
  
      &__description {
        font-size: 16px;
        line-height: 24px;
  
        @media(max-width: 522px) {
          padding-right: 50px;
          font-size: 14px;
          line-height: 18px;
        }
  
        &_courses {
          padding-top: 20px;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;

          @media(max-width: 522px) {
            padding-top: 10px;
          }
        }
      }
  
      &__cost {
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;

        @media(max-width: 522px) {
          font-size: 28px;
        }

        @media(max-width: 375px) {
          font-size: 20px;
        }

        &_size {
          font-size: 26px;

          @media(max-width: 522px) {
            font-size: 20px;
          }

          @media(max-width: 375px) {
            font-size: 16px;
          }
        }
      }
  
      &__duration {
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding: 7px 22px;
        background: linear-gradient(107.19deg, #5F479B 1.5%, rgba(40, 28, 71, 0.2) 109.67%);
        border-radius: 20px;
  
        @media(max-width: 522px) {
          padding: 6px 18px;
        }
  
        span {
          font-size: 22px;
          font-weight: 700;
          line-height: 24px;
  
          @media(max-width: 522px) {
            font-size: 18px;
            line-height: 20px;
          }
        }
  
        &-text {
          display: flex;
          flex-direction: column;

          &_size {
            font-size: 16px;
            line-height: 24px;

            @media(max-width: 522px) {
              font-size: 14px;
              line-height: 18px;
            }
          }

          &_color {
            font-size: 14px;
            color: #8EA2D3;

            @media(max-width: 522px) {
              font-size: 12px;
            }
          }
        }
      }
  
      &__more {
  
        &_indent_course {
          padding-top: 30px;
  
          @media(max-width: 522px) {
            padding-top: 20px;
          }
        }
        
        span {
          display: inline-flex;
          cursor: pointer;
          // transition: color .2s;
          padding: 16px 31px;
          font-weight: 600;
          font-size: 14px;
          line-height: 115%;
          border-radius: 20px;
          background: 
                  linear-gradient(#282828e0, #2f3440) padding-box,
                  linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%)border-box;
          border-radius: 50em;
          border: 2px solid transparent;
          color: #ffffff;

          @media(max-width: 522px) {
            padding: 12px 17px;
            font-size: 12px;
          }
        }
      }
  
      &__figure {
        position: relative;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
        aspect-ratio: 1;
        overflow: hidden;
      }
  
      &__logo {
        width: auto;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      &__companyname {
        width: calc(100% - 30px);
        font-weight: 700;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      &__info {
        font-size: 16px;
        line-height: 21px;
        margin: 0;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
  
      &__category {
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 16px;

        @media(max-width: 522px) {
          top: 6px;
          right: 10px;
          font-size: 14px;
        }
    
        span {
          display: flex;
          flex-direction: column;
          text-align: right;
          // font-size: 16px;
          font-weight: 800;
          background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  
      &__icon {
        position: absolute;
        bottom: 30px;
        right: 160px;
        cursor: pointer;
  
        &:hover {
          opacity: 0.7;
        }
  
        @media(max-width: 522px) {
          bottom: 16px;
          right: 124px;
        }
  
        @media(max-width: 400px) {
          right: 12px;
        }
  
        img {
            width: 52px;
            height: auto;

            @media(max-width: 522px) {
                width: 40px;
                height: auto;
            }
        }
      }
  
      &__undefined {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        border: 2px solid #474c5a;
        border-radius: 12px;

        span {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}

.course {

  &__container {
      position: relative;
  }

  &__subtitle {
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 38px;
      font-weight: 700;

      @media(max-width: 800px) {
          font-size: 32px;
      }

      @media(max-width: 550px) {
          font-size: 26px;
      }
  }

  &-header {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 400px;

      &__background {
          position: relative;
          width: 100%;
          object-fit: cover;
          max-height: 425px;
          opacity: 0.3;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
      }

      &__container {
          position: absolute;
          top: 0;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 70px;

          // @media(max-width: 1100px) {
          //     width: 90%;
          //     top: 10%;
          //     left: 50%;
          //     transform: translate(-50%, -66%);
          // }

          @media(max-width: 390px) {
              margin-top: 50px;
          }
      }

      &__title {
          margin-bottom: 30px;
          font-size: 44px;
          font-weight: 700;
          text-align: center;

          @media(max-width: 992px) {
              font-size: 36px;
          }

          @media(max-width: 800px) {
              font-size: 30px;
          }

          @media(max-width: 620px) {
              font-size: 26px;
              margin-bottom: 20px;
          }

          @media(max-width: 480px) {
              font-size: 22px;
          }
      }

      &__description {
          margin-bottom: 60px;
          font-size: 18px;
          text-align: center;

          @media(max-width: 1100px) {
              margin-bottom: 50px;
          }

          @media(max-width: 800px) {
              margin-bottom: 40px;
              font-size: 16px;
          }

          @media(max-width: 620px) {
              margin-bottom: 30px;
          }

          @media(max-width: 480px) {
              font-size: 14px;
          }
      }

      &__company {

          span {
              display: block;
              padding: 8px 40px;
              background: #ffffff;
              color: #000000;
              font-weight: 600;
              cursor: pointer;
              border-radius: 8px;

              &:hover {
                  background: rgba(255, 255, 255, 0.7);
              }
          }
      }
  }

  &-learn {
      padding: 0 10px;

      &__list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;

          @media(max-width: 800px) {
              grid-template-columns: 1fr;
          }
      }

      &__item {
          padding: 20px;
          background: #3E4459;
          border-radius: 16px;
      }

      &__subtitle {
          padding-bottom: 10px;
          font-size: 18px;
          font-weight: 600;
      }
  }

  &-teachers {
      padding: 0 10px;
      
      &__item {
          display: flex;
          flex-direction: column;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
          overflow: hidden;

          @media(max-width: 767px) {
              margin: 0 20px;
          }

          @media(max-width: 620px) {
              margin: 0 40px;
          }

          &_image {
              // max-height: 300px;
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
              

              img {
                  // max-height: 300px;
                  height: 220px;
                  border-radius: 10px;
          
                  &:hover {
                      opacity: 0.7;
                  }
              }
          }
      }

      &__name {
          margin-bottom: 10px;
          text-decoration: underline;

          &:hover {
              opacity: 0.7;
          }
      }
  }

  &-reviews {
      padding: 0 10px;

      &__container {
          position: relative;
          height: 280px;
          border: 1px solid rgba(255, 255, 255, 0.05);
          border-radius: 12px;
          background: rgba(255, 255, 255, 0.02);
          overflow: hidden;
      }

      &__add {
          position: absolute;
          z-index: 5;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0 42%;
          margin-bottom: 20px;
          border: 1px solid #ffffff;
          border-radius: 8px;
          cursor: pointer;
          text-align: center;

          @media(max-width: 800px) {
              margin: 0 38%;
              margin-bottom: 20px;
          }

          @media(max-width: 650px) {
              margin: 0 30%;
              margin-bottom: 20px;
          }

          @media(max-width: 420px) {
              margin: 0 20%;
              margin-bottom: 20px;
          }

          span {
              display: block;
              padding: 6px 0;
          }

          &:hover {
              background: rgba(255, 255, 255, 0.4);
          }
      }

      &__soon {
        position: relative;
        z-index: 2;
        margin-top: 80px;
        text-align: center;
      }

      &__image {
        position: absolute;
        top: -140px;
        left: 0;
        width: 100%;
        opacity: 0.5;
      }
  }

  &-questions {
    padding: 0 10px;
    padding-bottom: 30px;
  }

  &-footer {
    padding: 0 10px;

    &__container {
      margin-top: 30px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      
      @media(max-width: 700px) {
          grid-template-columns: 1fr;
      }
    }

    &__info {
      padding: 20px;
      background: #313541;
      border-radius: 12px;

      &-header {
        display: flex;
        justify-content: space-between;

        @media(max-width: 860px) {
          flex-direction: column-reverse;
        }

        @media(max-width: 700px) {
          flex-direction: row;
        }

        @media(max-width: 428px) {
          flex-direction: column-reverse;
        }
      }
      
      &_price {
        max-width: 260px;
        font-size: 42px;
        font-weight: 700;
        line-height: 40px;

        @media(max-width: 1100px) {
          font-size: 36px;
        }

        @media(max-width: 950px) {
          font-size: 28px;
        }

        @media(max-width: 700px) {
          font-size: 36px;
        }

        @media(max-width: 480px) {
            font-size: 28px;
        }
      }

      &_data {
        font-size: 14px;
        text-align: right;

        @media(max-width: 992px) {
          font-size: 12px;
        }

        @media(max-width: 860px) {
          text-align: start;
        }
      }

      &_duration {
        font-size: 14px;
        white-space: nowrap;

        @media(max-width: 992px) {
          font-size: 12px;
        }
      }
    }

    &__cost {
      padding-top: 20px;

      &_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &_old {
        position: relative;
        opacity: 0.6;

        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 1px);
          left: -2px;
          display: block;
          width: calc(100% + 4px);
          height: 2px;
          background-color: #e84e1b;
          transform: rotate(-11deg);
        }
      }

      &_discount {
        background: #525a70;
        border: 1px solid #898e9f;
        border-radius: 12px;

        span {
          display: inline-block;
          padding: 4px 8px;
        }
      }

      &_new {
        padding-top: 10px;
        font-size: 24px;

        div {
          font-size: 12px;
          color: #e28263;
        }
      }
    }

    &__enroll {
      margin-top: 30px;
      margin-bottom: 0;

      span {
        color: #ffffff;
      }
    }

    &__company {
      text-align: center;

      &_title {
        display: flex;
        justify-content: center;

        img {
          height: 30px;
        }
      }

      .btn-item {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 140px;
        color: #FFFFFF;
        background: none;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 0;
        border: 5px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to left, #679FEF, #A87FFF);
        border-radius: 6px;
        cursor: pointer;
      }
    }

    &__social {
      display: flex;
      justify-content: center;
      gap: 10px;

      &_item {
        position: relative;
      }

      &_link {
        background-color: #232733;
        color: #ffffff;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
        }

        img {
          height: 20px;
        }
      }
    }
  }
}